<!DOCTYPE html>
<html lang="en-us" data-ng-app="meanapp">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Mavenli</h1>
    <p>Your next adventure awaits! Better experiences while traveling for less.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"> How it Works</a>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="input-group search-bar">
        <input type="text" class="form-control " placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-primary" aria-describedby="sizing-addon1" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <h1>Other Locations</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>San Francisco, CA</h3>
      <ul>
        <img src="../images/comingsoon.png"
         class="img-responsive"  width="400" height="400">
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Los Angeles, CA</h3>
      <ul>
        <img src="../images/comingsoon.png"
        class="img-responsive"  width="400" height="400">
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Las Vegas, NV</h3>
      <ul>
        <img src="../images/comingsoon.png"
        class="img-responsive"  width="400" height="400">
      </ul>
    </div>
  </div> <!-- row -->
  <div class="row">
    <div class="col-md-4">
      <h3> Napa/Sonoma, CA</h3>
      <ul>
        <img src="../images/comingsoon.png"
        class="img-responsive"  width="400" height="400">
      </ul>
    </div>
      <div class="col-md-4">
        <h3>Oakland, CA</h3>
        <ul>
          <img src="../images/comingsoon.png"
          class="img-responsive"  width="400" height="400">
        </ul>
      </div>
      <div class="col-md-4">
        <h3>San Diego, CA</h3>
        <ul>
          <img src="../images/comingsoon.png"
          class="img-responsive"  width="400" height="400">
        </ul>
      </div>
    </div> <!-- row -->
</div>

<div class="text-center">
  <h1>How it Works</h1>
  <p>Test</p>
</div>

</body>
</html>
