<!DOCTYPE html>
<html lang="en-us" data-ng-app="meanapp" ng-app="mainApp">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center">
    <div class="container">
      <h1>Mavenli</h1>
      <p>Your next adventure awaits! Better experiences while traveling for less.</p>
      <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">
        How it Works
      </a>
    </div>

    <div class="row search-bar" >
      <div class="col-xs-8 col-xs-offset-2">

        <form class="form-inline" ng-controller="RsvpForm" ng-submit="submit()">
          <div class="form-group">
            <input type="search" class="form-control" id="search" placeholder="Where do you want to go?" ng-model="text">
          </div>
          <div class="form-group">
            <input type="date" class="form-control" id="check-in" placeholder="Check In" ng-model="checkin">
          </div>
          <div class="form-group">
            <input type="date" class="form-control" id="check-out" placeholder="Check Out" ng-model="checkout">
          </div>
          <div class="form-group">
            <select class="form-control" ng-model="guests">
              <option>1 Guest</option>
              <option>2 Guests</option>
              <option>3 Guests</option>
              <option>4 Guests</option>
              <option>5 Guests</option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" aria-describedby="sizing-addon1" type="submit">Go!</button>
          </div>
        </form>

      </div>
    </div>

  </div>

  <div class="text-center">
    <h1>Other Locations</h1>
  </div>

  <div ng-controller="CitiesController">
    <div class="container">
      <div class="row">
        <div ng-repeat="destination in destinations">
          <div class="col-md-4">
            <h3>{{destination.city}}</h3>
            <ul>
              <a href="{{destination.link}}">
                <img ng-src="{{destination.image}}" class="img-responsive"  width="400" height="400">
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <ul>
        <button href="#" class="btn btn-lg btn-success btn-block" type="button">See All Destinations!</button>
      </ul>
    </div>
  </div>

</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
</html>
